.container{
    width: 50%;
    margin: 0 auto;
}
.note-page{
    padding: 3em 0;
}
.note-list{
    background-color: #BEE5D3;
    border-radius: 1em;
    padding: 2em 1em;
}
.note-list-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}
.note-list-header-title{
    font-size: 3em;
}
.note-list-header-btn{
    font-size: 1.4em;
    padding: 1em 2em;
    border-radius: 1em;
    color: #fff;
    border: solid 2px #fff;
    background: #3B5360;
    background: -webkit-linear-gradient(to right, #3B5360, #8B5E83); 
    background: linear-gradient(to right, #3B5360, #8B5E83);
    cursor: pointer;
}
.note-nocontent{
    font-size: 2em;
    text-align: center;
    padding: 2em 0;
}
.note{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
    border-bottom: solid 1px #8B5E83;
}
.note-content{
    font-size: 1.4em;
}
.note-title{
    font-size: 1.4em;
}
.note-action{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.note-action .note-btn{
    width: 36px;
    height: 36px;
    margin: 0.5em;
    border-radius: 18px;
    cursor: pointer;
    color: #fff;
    border: solid 1px #fff;
}
.note-delete{
    background-color: #8B5E83;
}
.note-edit{
    background-color: #3B5360;
}